@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&family=Hanken+Grotesk:wght@400;600&family=Geist:wght@400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Sora", sans-serif;
  --font-mono: "Geist", monospace;

  /* Custom Luminous Colors */
  --color-primary: #4648d4;
  --color-primary-container: #6063ee;
  --color-secondary: #b4136d;
  --color-secondary-container: #fd56a7;
  --color-background: #faf8ff;
  --color-on-background: #131b2e;
  --color-surface-container: #eaedff;
  --color-surface-container-low: #f2f3ff;
  --color-surface-container-high: #e2e7ff;
  --color-surface-container-highest: #dae2fd;
  --color-on-surface-variant: #464554;
  --color-outline-variant: #c7c4d7;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-on-background);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

